@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
    font-family: Poppins;
   
}

body
{
    display: flex;
    background-image: url("./bg-book.jpeg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.bg-color
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.747);

}

.conteiner-content
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1000px;
    height: 500px;
    background-color: white;
    z-index: 1;
    transition-duration: 10ms;
    z-index: 1;
    
}

.left-box-conteiner
{
    background-color: skyblue;
    padding: 15px;
    text-align: justify;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Poppins";
    flex-direction: column;
    width: 50%;
    gap: 25px;
    font-family: "Poppins";
    transition: all 1s ease;
    z-index: 3;
    justify-content: center;
}

.left-box-conteiner.active-singup
{
    background-color: #FFD700;
    transform: translateX(100%);
 
  
}

.left-title-box
{
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.style-btn
{
    padding: 10px;
    background-color: transparent;
    font-size: 17px;
    font-family: "Poppins";
    height: 60px;
    width: 220px;
    border: 4px solid white;
    color: white;
    font-weight: 900;
    border-radius: 12px;
    text-align: center;

}

.style-btn:hover
{
    background-color: #40E0D0;
    transition: 100ms;
}

.style-btn.active-singup:hover
{
    background-color: #FFA500;
    transition: 100ms;
}




.conteiner-content-fixed
{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.conteiner-content-left
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 15px
}

.conteiner-content-right
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.left-subtitle-box
{
    font-size: 18px;
}

.label-input
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBEFF2;
    padding: 4px;
    gap: 10px;
}

.label-input:hover
{
    border: 1px solid black;
}

.conteiner-img
{
    width: 25px;
    height: 25px;
}

.conteiner-img img
{
    width: 100%;
    background-size: cover;
}

.input-style
{
    border: transparent;
    background-color: #EBEFF2;
    font-weight: bolder;
    padding: 10px;
    outline: none;
}

.form-conteiner-style
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
}

.btn-login-style
{
    margin-top: 20px;
    padding: 8px;
    background-color: skyblue;
    width: 127px;
    color: black;
    border-radius: 50px;
    font-weight: bolder;
}

.btn-create-style
{
    margin-top: 10px;
    padding: 8px;
    background-color: #FFD700;
    width: 127px;
    color: black;
    border-radius: 50px;
    font-weight: bolder;  
}

.btn-login-style:hover
{
    background-color: cornflowerblue;
}

.btn-create-style:hover
{
    background-color: #FFA07A;
}

.img-content
{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border: 3px solid black;
    padding: 10px;
}

.img-content img
{
    width: 100%;
}

.login-title
{
    color: #ADD8E6;
}

.create-title
{
    color: #FFA500;
}

.pop-up-conteiner
{
    display: none;
}

.pop-up-conteiner.active
{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.747);
    z-index: 4; 
    align-items: center;
    justify-content: center;  
}

.pop-up-content
{
    display: flex;
    width: 650px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
}

.header-popup-style
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: red;
    border-radius: 20px 20px 0px 0px;
}

.body-popup-style
{
    
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    gap: 40px;
    padding: 30px;
    text-align: center;
}


.title-popup
{
    font-weight: bolder;
    
}

.text-popup
{
    font-size: 16px;
}

.style-btn.popup-btn
{
    background-color: red;
    color: white;
}