@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body
{
    max-width: 100vw;
    max-height: 200vh;
    overflow: hidden;
}

.conteiner-head
{
    
    position: absolute;
    width: 280px;
    height: 90vh;
    background-color: black;
    transform: translateX(-100%);
    transition: all 0.7s ease;
}

.conteiner-head.active
{
    transform: translateX(0);
}

.link-list
{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    
}

.conteiner-item
{
    display: flex;
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    width: 100%;
    height: 20%;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.conteiner-item:hover
{
    background-color: skyblue;
}

.conteiner-head-header
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.conteiner-img
{
    width: 80px;
    height: 80x;
}

.conteiner-img img
{
    width: 100%;
}

.conteiner-pag-header
{
    position: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    max-width: 100vw;
    padding: 40px;
    height: 10vh;

}

.conteiner-img.menu
{
    width: 40px;
    height: 40px;
}


.conteiner-img.menu a img
{
    width: 100%;
    
}

.conteiner-img-menu
{
    width: 45px;
    height: 45px;
}

.icone-style-img
{
    width: 100%;
}

.circle-style-user
{
    padding: 10px;
    border-radius: 50%;
    border: 3px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.barra-pesquisa-conteiner
{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: white;
    width: 400px;
    border-radius: 15px;
    height: 45px;
}

.img-style
{
    width: 30px;
    height: 30px;
}

.input-pesquisa
{
    width: 77%; 
    height: 40px;
    border: none;
    outline: none;
}

.btn-conteiner
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%;
    background-color: #808080;
    border-radius: 12px 0px 0px 12px;
}

.btn-conteiner:hover
{
    background-color: skyblue;
}

.main-conteiner
{
    width: 100%;
    display: flex;
    background-color: #111111   ;
    height: 200vh;
    padding: 25px;
    justify-content: center;

}

.conteiner-book
{
    display: flex; 
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
   
}



.conteiner-book
{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    
}



.card-book
{
    width: 200px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    transition: all 0.2s ease;
}

.card-book:hover
{
    width: 225px;
    height: 325px;
    
}

.card-book .img-conteiner-link img
{
    width: 100%;
    height: 100%;
    
}

.layout-list-conteiner
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}

.title-list-style
{
    margin-left: 60px;
    font-size: 2.7em;
    color: white;
    font-weight: 900;
    font-family: Helvetica, sans-serif
}



.list-book-conteiner
{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.conteiner-menu
{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}


.img-controller
{
    width: 36px;
    height: 36px;
}

.img-controller
{
    width: 100%;
}

.circle-btn-style
{
    background-color: #333333;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}

.circle-btn-style:hover
{
    background-color: skyblue;
}